<div class ="container">
<h1 class ="mt-4">About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, neque corrupti. Laboriosam animi cupiditate autem, architecto eius illo nisi minima pariatur atque at possimus, voluptatem esse et cumque distinctio suscipit.</p>
</div>